// @tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none !important;
    scroll-behavior: smooth !important;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: silver;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

@font-face {
    font-family: iranYekan;
    src: url(font/iranyekanwebregular.woff) format('woff');
}
@font-face {
    font-family: bakhM;
    src: url(font/YekanBakhMedium.woff) format('woff');
}
@font-face {
    font-family: bakhB;
    src: url(font/YekanBakhBold.woff) format('woff');
}
@font-face {
    font-family: bakhH;
    src: url(font/YekanBakhHeavy.woff) format('woff');
}
.flexActive{
    display: flex !important;
}
.coverPage , .coverPage2 , .coverPage3{
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;
}
.rotateAngle{
    transform: rotateZ(180deg) !important;
}

@import "loader";
@import "component-wrapper";
@import "navbarComponents/toggleBtn";
@import "navbarComponents/component-desktop";
@import "navbarComponents/component-mobile";
@import "posts/intro";
@import "posts/payment-gateway";
