@layer components{
    .payment-gateway{
        @apply mt-[157px] flex lg:flex-row flex-col gap-0 relative min-h-[299px] sm:min-h-[unset] min-w-[250px] sm:min-w-[unset]
    }
    .payment-gateway{
        &::after{
            content:"";
            background-image: url("./public/images/posts/gray-bg.svg");
            background-repeat: no-repeat;
            width: 985px;
            height: 703px;
            z-index: -2;
            position: absolute;
            bottom: -225px;
            left: -100px;
            @media screen and (max-width:992px){
                left: -10px;
            }
        }
    }
    .pg-right{
        @apply px-2 lg:w-[50%] flex-1 sm:flex hidden relative lg:bottom-[50px] lg:justify-start justify-center 
    }
    .pg-image{
        @apply xl:w-[569px] w-[454px] h-[483px] bg-[url('./public/images/posts/pg.svg')] dark:bg-[url('./public/images/posts/pg-dark.svg')] bg-no-repeat
    }
    .pg-left{
        @apply px-2 lg:w-[50%] flex-1 flex-col lg:items-start items-center hidden
    }
    .pg-top-title{
        @apply mb-[5px] text-[#747480] dark:text-[#b3b3c6] font-bakh text-[22px] font-medium tracking-[0.18px] leading-[34px] text-center
    }
    .pg-header-title{
        @apply font-bakhHeavy text-[#303030] dark:text-[#fffefb] xl:text-[32px] sm:text-[30px] text-[24px] leading-[43px] font-[900] text-center
    }
    .pg-header-description{
        @apply mt-[7px] mb-[16px] pb-[20px] max-w-[500px] border-x-0 border-t-0 border-b-[1px] border-solid border-b-[#dfe1e4] text-[#303030] dark:text-[#fffefb] font-bakh lg:text-start text-center
    }
    .pg-btn-group{
        @apply flex mt-[17px] gap-[8px] flex-wrap sm:justify-start justify-center
    }
    .more-btn{
        @apply no-underline bg-[rgba(232,239,254,.6)] dark:bg-[rgba(228,197,0,.15)] dark:text-[#fffefb] text-[#28457b] px-[14px] py-[4px] rounded-[10px] leading-[28px] text-[16px] font-bakhBold flex items-center
    }
}